# This is a Github Workflow that runs tests on any push or pull request.
# If the tests pass and this is a push to the master branch it also runs Semantic Release.
name: CI
on: [push, pull_request]
jobs:
  init:
    name: init
    runs-on: ubuntu-20.04
    outputs:
      skip: ${{ steps.ci-skip-step.outputs.ci-skip }}
      skip-not: ${{ steps.ci-skip-step.outputs.ci-skip-not }}
    steps:
      - uses: actions/checkout@v3
      - id: ci-skip-step
        uses: mstachniuk/ci-skip@v1

  test_push:
    name: Test on push
    needs: init
    if: ${{ needs.init.outputs.skip == 'false' && github.event_name == 'push' }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.5

      - name: Install deps
        run: yarn install

      - name: Build
        run: yarn build

      - name: Run tests
        run: yarn test:cov

      - name: Load Bun
        run: node target/main/index.js

      - name: Check Bun
        run: bun -v

      - name: Codeclimate
        uses: paambaati/codeclimate-action@v3.0.0
        if: github.ref == 'refs/heads/master'
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/lcov.info:lcov

  test_pr:
    if: ${{ needs.init.outputs.skip == 'false' && github.event_name == 'pull_request' }}
    needs: init
    name: Test PR (${{ matrix.os }})
    strategy:
      matrix:
        os: [ ubuntu-20.04, macos-latest ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.5

      - name: Install deps
        run: yarn install

      - name: Build
        run: yarn build

      - name: Run tests
        if: ${{ matrix.os == 'ubuntu-20.04' }}
        run: yarn test

      - name: Load Bun
        run: node target/main/index.js

      - name: Check Bun
        run: bun -v

  release:
    name: Release
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: test_push
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: master

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install deps
        run: yarn install

      - name: Build
        run: yarn build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_COMMITTER_EMAIL: 'antongolub@antongolub.com'
          GIT_COMMITTER_NAME: 'Anton Golub'
          GH_USER: 'antongolub'
          PUSH_MAJOR_TAG: true
        run: npm_config_yes=true npx zx-semrel
